/.emacs.d/auto-save-list/*
/.emacs.d/ac-comphist.dat
/.emacs.d/history
/.emacs.d/ido.last
/.emacs.desktop
.revive.el

/.vim/undodir/*
/.vim/.netrwhist
/.vim/doc/tags
/.vim/plugged

*.swp
*.elc
*~
\#*#

/.zsh/.zcompdump*
/.zsh/.zcompcache
