[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:piec/oh-my-zsh.git
[submodule ".emacs.d/php-mode"]
	path = .emacs.d/php-mode
	url = https://github.com/ejmr/php-mode
