"\e[21~": "mc\C-M"

"": re-read-init-file
#Space: magic-space

## gnome-terminal
# Home End
"\eOH": beginning-of-line
"\eOF": end-of-line

## xterm
# Home End
"\e[H": beginning-of-line
"\e[F": end-of-line

## screen
#Home End
"\e[1~": beginning-of-line
"\e[4~": end-of-line

## all
# control-arrow
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\eO5C": forward-word
"\eO5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word

# alt-arrow
"\e[1;3C": forward-word
"\e[1;3D": backward-word
"\eO3C": forward-word
"\eO3D": backward-word
"\e[3C": forward-word
"\e[3D": backward-word
# putty
"\e\e[C": forward-word
"\e\e[D": backward-word

# S-Backspace <- Delete 
"\e[3;2~": delete-char
# M-Delete <- Kill Word
"\e[3;3~": kill-word
#"\e[4~": kill-word
# S-M-Delete / S-M-Backspace <- Kill Word
"\e[3;4~": kill-word

# C-Up C-Down
"\e[1;5A": history-search-backward
"\e[1;5B": history-search-forward
"\eO5A": history-search-backward
"\eO5B": history-search-forward
"\e[5A": history-search-backward
"\e[5B": history-search-forward
"\ep": history-search-backward
"\en": history-search-forward
# putty A-up A-down
"\e\e[A": history-search-backward
"\e\e[B": history-search-forward

set completion-ignore-case on
"\es": menu-complete
"\eS": menu-complete-backward

set bell-style visible
set input-meta on
set output-meta on
set convert-meta off
set enable-meta-key off

"\et": dump-functions
"\ed": dump-macros
#"\ed": dump-variables
#"\ed": "dump-variables; dump-variables"

